# dependencies
node_modules

# build
dist
build
.turbo

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# env
.env
.env.*
!.env.example
!.env.dev

# terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/terraform.tfvars
!**/terraform.tfvars.example
**/crash.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# test
coverage
.nyc_output

# prisma (generated clients)
apps/*/generated

# OS
.DS_Store

# IDEs and editors
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# temp
.temp
.tmp

# runtime data
pids
*.pid
*.seed
*.pid.lock

# diagnostics
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
