terraform {
  backend "s3" {
    bucket         = "replace-with-your-terraform-state-bucket"
    key            = "vehicle-service-platform/prod/terraform.tfstate"
    region         = "eu-central-1"
    dynamodb_table = "replace-with-your-terraform-lock-table"
    encrypt        = true
  }
}
